<td>
  <form>
    <input type="text" name="fieldName" value="<%=fieldName%>" class='column-definition-input <%=(isRequired) ? "required" : ""%>' <%=(isRequired) ? "disabled" : ""%> />
  </form>
</td>
<td>
  <span class="deleteRow glyphicon glyphicon-remove <%=(isRequired) ? 'disabled' : ''%>" title="Delete column"></span>
</td>
