<div class="columns-definition-container">
  <table class="columns-definition-table">
    <thead>
      <tr>
        <th> Column name </th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <input type="button" id="addColumn" value="Add new field" />
  <hr class="horizontal-line">
  <input type="button" id="saveFields" value="Proceed" />
</div>