<div class="records-table-container">
  <div class="topbar-actions">
    <a id="backToColDefs" role="button" href="#" class="btn">
      <span class="glyphicon glyphicon-arrow-left"></span> Back
    </a>
    <a id="exportToCSV" role="button" href="#" class="btn">
      Export <span class="glyphicon glyphicon-download-alt"></span>
    </a>
  </div>

  <table class="records-table">
    <col style="width:5%">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
  <input type="button" id="addRow" value="Add row" />
</div>