<% for(var i=0;i<attrs.length;i++) { %>
  <td>
    <input type="text" name="<%=attrs[i].id%>" value="<%=attrs[i].name%>" class="record-input"/>
    <p class="record-text"><%=attrs[i].name%></p>
  </td>
<% } %>

<td>
  <div class="actions">
    <span class="label editRow">
      Edit <span class="glyphicon glyphicon-pencil"></span>
    </span>
    <span class="label label-default saveRow">
      Save <span class="glyphicon glyphicon-ok"></span>
    </span>
    <span class="label label-default deleteRow">
      Delete <span class="glyphicon glyphicon-remove"></span>
    </span>
  </div>
</td>