$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

@font-face {
  font-family: 'ProximaNova-Reg';
  src: url("fonts/ProximaNova-Reg.otf") format("opentype");
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("fonts/ProximaNova-Sbold.otf") format("opentype");
}
$boxShadowColor: #C0C0C0;
$disabled: #A9A9A9;

*{
  outline: none;
}

/* Space out content a bit */
body {
  background: #f0f0f0;
  margin: 15px;
  font-family: 'ProximaNova-Reg';
}

header{
  text-align: center;
}

#mainContainer{
  min-width: 750px;
  margin: 20px 150px;
  height: 550px;
  position: relative;
}

.columns-definition-container{
  position: relative;
  width: 450px;
  margin: 0 auto;
  top: 50px;
}

.columns-definition-table{
  width: 450px;
  margin: 0 auto;
}

.columns-definition-table thead tr th {
  padding: 5px;
  font-family: "ProximaNova-Bold";
  font-size: 17px;
}

.columns-definition-table thead td{
  font-weight: bold;
  font-size: 15px;
}
.columns-definition-table .column-definition-input{
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 0 $boxShadowColor;
  border: none;
  margin: 5px 0;
}

.column-definition-row .deleteRow{
  cursor: pointer;
}

.column-definition-row .deleteRow.disabled{
  color: $disabled;
}

.column-definition-row .column-definition-input.required{
  color: $disabled;
}

.column-definition-row .column-definition-input.required{
  color: $disabled;
}

.columns-definition-container #addColumn{
  width: 150px;
  height: 30px;
  font-size: 15px;
  background-color: #7c94a1;
  color: white;
  border:1px solid #72828B;
  box-shadow: 1px 1px 0 #72828B;
  opacity: 1.0;
  &:hover{
    opacity: 0.9;
  }
}

.columns-definition-container .horizontal-line{
  border-top: 1px solid $disabled;
}

.columns-definition-container #saveFields{
  width: 180px;
  position: relative;
  height: 49px;
  background-color: #4ab367;
  color: white;
  font-size: 16px;
  left: 25%;
  border: 1px solid #339E50;
  box-shadow: 1px 1px 0 #339E50;
  opacity: 1.0;
  &:hover{
    opacity: 0.9;
  }
}

.records-table-container{
  position: relative;
  margin: 0 auto;
  top: 50px;
}

.records-table-container .topbar-actions:after{
  clear: both;
  display: block;
  content: '';
}

.records-table-container #exportToCSV:hover,
.records-table-container #backToColDefs:hover{
  color: #1D5A8F;
  background: #DBDBDB;
}
.records-table-container #exportToCSV:visited,
.records-table-container #backToColDefs:visited{
  color: #1D5A8F;
}
.records-table-container #exportToCSV{
  float: right;
}
.records-table-container #backToColDefs{
  float: left;
}

.records-table-container #addRow{
  width: 150px;
  height: 30px;
  font-size: 15px;
  background-color: #7c94a1;
  color: white;
  border:1px solid #72828B;
  box-shadow: 1px 1px 0 #72828B;
  opacity: 1.0;
  &:hover{
    opacity: 0.9;
  }
}

.records-table{
  width: 100%;
  /*min-width: 600px;
  max-width: 780px;
  overflow-x: scroll;*/
}

.records-table tbody tr:nth-child(2n){
  background: #E1E1E1;
}

.records-table thead tr{
  border-bottom: 1px solid gray;
}
.records-table thead tr th {
  padding: 5px;
  font-family: "ProximaNova-Bold";
  font-size: 17px;
}
.records-table thead td{
  font-weight: bold;
  font-size: 15px;
}
.records-table th:last-child,
.records-table td:last-child{
  width: 20%;
}
.records-table tbody tr{
  border-bottom: 1px solid #D3D3D3;
  margin: 2px 0;
}
.records-table tbody td{
  padding: 0 3px;
}
.records-table .record-row .label{
  background-color: #D3D3D3;
  color: black;
  border-color: #838282;
  cursor: pointer;
  width: 55px;
  float: left;
  margin: 0 2px;
  font-size: 11px;
  &:hover{
    box-shadow: 1px 1px 0 $boxShadowColor;
  }
}
.records-table .record-row .actions{
  width: 150px;
}
.records-table .record-row .saveRow,
.records-table .record-row .record-input{
  display: none;
}
.records-table .record-row .editRow,
.records-table .record-row .record-text{
  display: block;
}
.records-table .record-row.edit .editRow,
.records-table .record-row.edit .record-text{
  display: none;
}
.records-table .record-row.edit .saveRow,
.records-table .record-row.edit .record-input{
  display: block;
}
.records-table .record-input{
  width: 100%;
  /*min-width: 120px;*/
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 0 $boxShadowColor;
  border: none;
  margin: 5px 0;
}

.records-table .record-text{
  width: 100%;
  /*min-width: 120px;*/
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.record-row .deleteRow{
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1024px) {
  #mainContainer{
    width: 100%;
    margin: 0;
  }
}

/* Resetting glyphicons url to make app work without internet */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot);
    src: url(../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2) format("woff2"), url(../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.woff) format("woff"), url(../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf) format("truetype"), url(../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}